body{
  background: pink;
  font-family: 'Playfair Display', serif;
}
.header{
  background: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  color: white;
  font-weight: bold;
  font-size: 50px;
  padding-left: 40px;
}
.subpages{
  color: white;
  width: 600px;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  align-items: center;
  padding-right: 40px;
  text-transform: capitalize;
}
.content{
  background: pink;
  height:500px;
  width:1000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.information{
  border: 3px solid;
  height:400px;
  width:500px;
  padding-left: 20px;
  padding-right: 20px;
}
.foto{
  height: 200px;
}
.internal{
  display: flex;
  align-items: center;
  height: 250px;
  border: 0px;
}
.lorem{
  padding-left: 20px;
}
.article{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  }
.sidebar{
  height: 400px;
  width:500px;
  border: 3px solid;
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer{
  background: black;
  height: 80px;
}
.Copyright{
  color: white;
  text-align: center;
}
